._header{
    color: #e0e0eb;
    text-align: center;
    background-color: #0b0b13;
}
body{
    color: #9494b8;
    background-color: #0b0b13;
}
nav{
    border-bottom: 5px inset #050508d3;
    color: #29293d; 
    padding: 1px 1px 1px 1px;
    background-color: #151520;
}
.navigation li{
    display: inline-block;
    margin-left: 18%;
    padding: 2px 10px 2px 10px;
    background-color: #2e2e42;
    border-radius: 5px;
}
.navigation li:hover{
    background-color: #45456e;
}
.nounderlinetext{
    text-decoration: none;
    color: #e0e0e9;
    font-size: 20px;
}

