body{
    color: #9494b8;
    background-color: #0b0b13;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    text-decoration: underline;
}
nav{
    border-bottom: 5px inset #050508d3;
    color: #29293d; 
    padding: 1px 1px 1px 1px;
    background-color: #151520;
}
._header{
    color: #e0e0eb;
    text-align: center;
    background-color: #0b0b13;
}
.navigation li{
    display: inline-block;
    margin-left: 18%;
    padding: 2px 10px 2px 10px;
    background-color: #2e2e42;
    border-radius: 5px;
}
.navigation li:hover{
    background-color: #45456e;
}
.nounderlinetext{
    text-decoration: none;
    color: #e0e0e9;
    font-size: 20px;
}
.images{
    width: 500px;
    padding-right: 4px;
    padding-bottom: 6px;
    background-color: rgba(32, 32, 54, 0.699);
    border-radius: 3px;
}
table{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}
table, th, td {
    border: 3px solid #010102fd;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
p{
    text-align: justify;
}
.references{
    margin-bottom: 50px;
}
.references li a{
    text-decoration: none;
    color: #9494b8;
}
.references li a:hover{
    text-decoration: underline;
    color: #3d3a66;
    font-size: 25px;
}
